
.invest-button{
    margin: 0;
    border: 1px solid rgb(230, 228, 228);
    border-radius: 0;
    background-color: white;
    color: rgb(53, 53, 53);
    width: 100%;
    cursor: pointer;
    transition-duration: 200;
}
.invest-button:hover{
    background-color: rgb(245, 243, 243);
}
.selected-invest-button{
    color: blue;
    border-top:2px solid blue;
}
.invest-filter-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

