
.table-wrapper{
  overflow-x: auto;
  width: 100%;
}
.trade-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
  border-top: 1px solid #ddd ;
}
.trade-table th,.trade-table td {
  padding: 5px;
  padding-right: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.fund-body{
  display: flex;
  gap: 10px;
  margin-right: 50px;
}
.fund-name{
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: start;
  white-space: nowrap;
  padding: 10px;
}
.fund-first-row span{
  padding-right: 5px;
}
.fund-second-row{
  font-weight: bold;
  margin-bottom: 10px;
}
.span-rating,.span-growth{
  background-color: rgb(211, 210, 210);
  margin-right: 10px;
  border-radius: 2px;
  padding-inline: 8px;
  padding-block: 5px;
}
.span-rating img{
  padding-left: 3px;
}
